@model FietsInfo.ACCOUNT
@{
    ViewBag.Title = "Fietsmaatberekenen";
}

<h2>Fietsmaat</h2>
<p div class="lead">Bereken je framemaat hier.</p>

<input class="btn btn-primary btn-lg" type="button" value="FietsmaatBerekenen" onclick="location.href='@Url.Action("FietsMaat", "ACCOUNTs")'">


