@model FietsInfo.ACCOUNT
@{
    ViewBag.Title = "Fietsmaatberekenen";
}

<h1>Fietsmaat</h1>
<h3>Om te kijken welke fiets geschikt is wordt er gekeken naar de fietsmaat.</h3>
<br />
<p div class="lead">Jouw fietsmaat is:</p>
<input  type="text" value="@Session["Fietsmaat"]" readonly>


