@model FietsInfo.ACCOUNT
@{
    ViewBag.Title = "Fietsmaatberekenen";
}

<h2>Bereken hier uw Fietsmaat</h2>
<div class="center">
    <div class="titelmargin">

        <p div class="lead">Log altijd eerst in voordat uw fietsmaat berekend kan worden</p>

        <p>Klik hier om de fietsmaat te berekenen.</p>
        
        <button onclick="myFunction()">Bereken!</button>
        <p id="demo"></p>
        <script>
        function myFunction() {
        document.getElementById("demo").innerHTML = "je fietsmaat is:";
            }
        </script>
       <textarea>
           
        </textarea>
    </div>
</div>


