@{
    ViewBag.Title = "Start Pagina";
}

<div class="center">
    <div class="titelmargin">
        <h1>Welkom bij FietsInfo</h1>
        <p div class="lead">Log in en kies één van de bovenstaande pagina's</p>
        <p div class="knoppenmargin"><a href="/Home/Login" class="btn btn-primary btn-lg">Inloggen</a></p>
        <p><a href="/Home/Registreer" class="btn btn-primary btn-lg">Registreren</a></p>
    </div>
</div>