@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FietsInfo</h1>
    <p class="lead">Login en kies één van de bovenstaande pagina's</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registreer &raquo;</a></p>
</div>