@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    <div class="lead">
        <h1>Welkom bij FietsInfo</h1>
        <p>Log in en kies één van de bovenstaande pagina's</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Inloggen</a></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registreren</a></p>
    </div>
</div>